@media screen and (min-width:992px){

    #container1{
        border:1px solid black;
        float:left;
        height:fit-content;
        width:30%;
        margin-left:30px; 
        background-color: #808080;             
    }
    #container2{
        border:1px solid black;
        float:left;
        height:fit-content;
        width:30%;        
        margin-left:30px;      
        background-color: #808080;
    }
    #container3{
        border:1px solid black;
        height:fit-content;
        width:30%;
        margin-left:30px;
        float:left;  
        background-color: #808080;
    }
    *{
        box-sizing:border-box;
    }
    #incontainer1{
        border:1px solid black;
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #ff9999;
    }
    #incontainer2{
        border:1px solid black;
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #e60000;
        color:white;
    }
    #incontainer3{
        border:1px solid black;
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #ffcc66;
    }
    #title1{
        font-family:'Merienda', cursive;
        font-size:22px;
        margin:auto;
        text-align:center;
        padding:4px;
    }
    #descrip{
       padding-top:39px;
       padding-right:15px;
       padding-left:15px;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-size:18px;
    }
    #heading{
        font-family: 'Merienda', cursive;
        text-align:center;
        font-size:40px;
        padding-bottom:40px;
    }
}
*{
    box-sizing:border-box;
}
@media screen and (max-width:767px){

    
    #container1{
        border:1px solid black;
        margin:auto;
        height:fit-content;
        width:fit-content;
        height:184px;
        margin-left:20px;
        margin-right:20px;
        margin-bottom:20px;
        background-color: #808080;
    }
    #container2{
        border:1px solid black;
        margin:auto;
        height:fit-content;
        width:fit-content;
        height:184px;
        margin-left:20px;
        margin-right:20px;
        margin-bottom:20px;
        background-color: #808080;
    }
    #container3{
        border:1px solid black;
        margin:auto;
        height:fit-content;
        width:fit-content;
        
        margin-left:20px;
        margin-right:20px;
        margin-bottom:20px;
        background-color: #808080;
    }
    *{
        box-sizing:border-box;
    }
    #incontainer1{
        border:1px solid black;
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #ff9999;
    }
    #incontainer2{
        border:1px solid black;
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #e60000;
        color:white;
    }
    #incontainer3{
        border:1px solid black;
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #ffcc66;
    }
    #title1{
        font-family:'Merienda', cursive;
        font-size:22px;
        margin:auto;
        text-align:center;
        padding:4px;
    
    
    }
    #descrip{
       padding-top:39px;
       padding-right:15px;
       padding-left:15px;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-size:18px;
    }
    #heading{
        font-family: 'Merienda', cursive;
        text-align:center;
        font-size:30px;
    }
}

@media screen and (max-width:991px) and (min-width:768px){
    *{
        box-sizing:border-box;
    }
    #heading{
        font-family: 'Merienda', cursive;
        text-align:center;
        font-size:30px;
        margin-bottom:50px;
    }
    #container1{
        border:1px solid black;
        width:44%;
        margin-left:40px;
        position:relative;
        height:210px;  
        background-color: #808080;
    }
    #container2{
        border:1px solid black;
        float:right;
        width:44%;
        height:210px;
        margin-top:-210px;
        margin-right:40px; 
        background-color: #808080;
    }
    #container3{
        margin-top:40px;
        border:1px solid black;  
        margin-left:40px;
        width:91%;
        height:184px;  
        background-color: #808080;
    }
  
    *{
        box-sizing:border-box;
    }
    #incontainer1{
        border:1px solid black;
        
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #ff9999;
    }
    #incontainer2{
        border:1px solid black;
        color:white;
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #e60000;
    }
    #incontainer3{
        border:1px solid black;
        
        height:40px;
        width:fit-content;
        float:right;
        width:150px;
        margin-top:-1px;
        margin-right:-1px;
        background-color: #ffcc66;
    }
    #title1{
        font-family:'Merienda', cursive;
        font-size:22px;
        margin:auto;
        text-align:center;
        padding:4px;
    }
    #descrip{
       padding-top:39px;
       padding-right:15px;
       padding-left:15px;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-size:18px;
    }
}